name: release

on:
  push:
    tags:
      - 'v*'

env:
  go_version: 1.25

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go ${{ env.go_version }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.go_version }}

      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Run goreleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
