name: tests

on:
  push:
    branches:
      - "**"

env:
  go_version: 1.18

jobs:
  unit:
    name: unit tests
    runs-on: ubuntu-latest
    env:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      COVER_FILE: coverage.txt
    steps:
      - name: Setup Go ${{ env.go_version }}
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.go_version }}

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run tests
        shell: bash
        run: go test -race -coverprofile=$COVER_FILE -covermode=atomic $(go list ./...)

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ env.CODECOV_TOKEN }}
          env_vars: OS,GOLANG
          fail_ci_if_error: true
          files: ${{ env.COVER_FILE }}
          flags: unittests